{% extends "layout.html" %}
{% block body %}
    <h2>Survey Data</h2>

    <ul>
        <li><b>You can take the survey <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWw-znStt5iF2Dc7eIoXNn24Ulxhm9fEDVggtAxoAyXLfyIA/viewform">here</a>.</b></li>
        <li><b>Total responses submitted</b>: {{ responses }} </li>
        <li><b>Date/Time first response</b>: {{ first }}</li>
        <li><b>Date/Time most recent response</b>: {{ last }}</li>
    </ul>

    <hr>
    <h2>Survey Questions</h2>
    <ul>
    {% for key, value in label_dict.items() %}
        {%  if key != "Timestamp" %}
            <li><b>{{ key }}</b>: {{ value }}</li>
        {%  endif %}
    {%  endfor %}
    </ul>
{% endblock %}