{% extends "layout.html" %}
{% block body %}
    <h2>Survey Data</h2>

    <div class="border rounded p-3 mt-2">You can take the survey <a href="https://docs.google.com/forms/d/e/1FAIpQLSfWw-znStt5iF2Dc7eIoXNn24Ulxhm9fEDVggtAxoAyXLfyIA/viewform">here</a></div>
    <div class="border rounded p-3 mt-2">Total responses submitted: {{ responses }} </div>
    <div class="border rounded p-3 mt-2">Date/Time first response: {{ first }}</div>
    <div class="border rounded p-3 mt-2">Date/Time most recent response: {{ last }}</div>

    <hr>
    <h2>Survey Questions</h2>

    {% for key, value in label_dict.items() %}
        {%  if key != "Timestamp" %}
            <div class="border rounded p-3 mt-2"><b>{{ key }}</b>: {{ value }}</div>
        {%  endif %}
    {%  endfor %}
{% endblock %}