{% extends "layout.html" %}
{% block body %}
    <h1 class="title">{{ title }}</h1>
    <h2 class="subtitle">Question</h2>
    Question: {{ qtext }}

    <div class = "descriptives">
    <h2 class="subtitle">Descriptives</h2>
        {{ descrip|safe }}
    </div>

    <div class = "value counts">
    <h2 class="subtitle">Value Counts</h2>
        {{ value_counts|safe }}
    </div>

    <div class = "chart">
    <h2 class="subtitle">Chart</h2>
    <img src="{{ chart_url }}" alt="Count Plot {{ title }}">
    </div>

{% endblock %}