{% extends "layout.html" %}
{% block body %}
    <div class="container">

        <div class="left-column">
            <h2>Entries</h2>
            {% if entries %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry.name }}</td>
                        <td>{{ entry.email }}</td>
                        <td>{{ entry.phone_number }}</td>
                        <td>{{ entry.address }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p><em>Unbelievable. No entries here so far.</em></p>
            {% endif %}
        </div>



        <div class="left-column">
        <h2>Add Contact</h2>
        <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">

            <dl>
                <dt>Name:</dt>
                <dd><input type="text" size="30" name="name"></dd>
                <dt>Email:</dt>
                <dd><input type="text" size="30" name="email"></dd>
                <dt>Phone Number:</dt>
                <dd><input type="text" size="30" name="phone"></dd>
                <dt>Address:</dt>
                <dd><input type="text" size="30" name="address"></dd>
            </dl>
            <button type="submit">Add</button>
        </form>

        <h2>Sort by:</h2>
        <form action="{{ url_for('show_entries') }}" method="get" class="sort_selected">
            <div class="radio-container">
                <label>
                    <input type="radio" name="sort_selected" value="name"
                    {% if request.args.get('sort_selected') == 'name' %}checked{% endif %}> Name
                </label>
            </div>
            <div class="radio-container">
                <label>
                    <input type="radio" name="sort_selected" value="email"
                    {% if request.args.get('sort_selected') == 'email' %}checked{% endif %}> Email
                </label>
            </div>
            <div class="radio-container">
                <label>
                    <input type="radio" name="sort_selected" value="phone_number"
                    {% if request.args.get('sort_selected') == 'phone_number' %}checked{% endif %}> Phone Number
                </label>
            </div>
            <button type="submit">Sort</button>
        </form>
    </div>
{% endblock %}
